
@{
    ViewBag.Title = "ApplicationAdminstration";
}

<h2>ApplicationAdminstration</h2>

@*<ul>
    <li>@Html.ActionLink("Manage Dogs", "Index", "Dogs")</li>
    <li>@Html.ActionLink("Manage Reviews", "Index", "DogsReviews")</li>
</ul>*@
