@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dog Breeds</h1>
    <p class="lead">The Dog Breeds application is way for someone to add their dog the a national database.</p>
    
</div>

